input[type=submit] {
			background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 40px;
}
input[type=submit]:hover {
	opacity: 1;
}
form{
	background: white;
	color: #black;
	border-radius: 13px;
	padding: 50px;
}
input[type=name]{
	width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  outline: none;

}
textarea{
	width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  height: 90px;
  outline: none;
}
input[type=email]{
	width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  outline: none;
}
input[type=checkbox]{
	border: solid 1px blanchedalmond;
	width: 10%;
	border-radius: 5px;
	height: 30px;
	outline: none;
}
input[type=radio]{
	border: solid 1px blanchedalmond;
	width: 50px;
	border-radius: 5px;
	height: 30px;
	 background-color: #ddd;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

body{
font-family: Arial, Helvetica, sans-serif;
font-size: 26px;
outline: none;
background-color: snow;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
}
a {
  color: dodgerblue;
}
::placeholder{
	font-size: 20px;
	opacity: 50%;

}
mark{
	background: #04AA6D;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;
	font-size: 20px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	opacity: 0.6;
	color: #fff;
}
